<div class='container-fluid' id="carouselContainer">

 <h2 class="text-center">How well you know me?</h2>
  <div class="row carouselStyle p-20">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let user of usersAnswerList">
        <div>
          <app-card [user]=user></app-card>
        </div>
        <div class="text-center">
          <!--<ng-select [items]="items"
                     bindLabel="name"
                     placeholder="Select item"
                     appendTo="body"
                     multiple="true"
                     [(ngModel)]="selected">
          </ng-select>-->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
