.carouselStyle{
 /* border: 1px dotted crimson;*/
}

#carouselContainer{
  background-color: whitesmoke;
  padding-top: 25px;
  margin-top: -35px;
}

/*.carousel-indicators {
  bottom: -75px !important;
}*/
