.carouselStyle{
 /* border: 1px dotted crimson;*/
}

#carouselContainer{
  background-color: whitesmoke;
  padding-top: 25px;
  margin-top: -35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/*.carousel-indicators {
  bottom: -75px !important;
}*/
